*
{
    margin: 0;
    padding: 0;
}
.container
{
    width: 1315px;
    margin: 1% auto;
}

/* header qism */
.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.left
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 47%;
    font-family: sans-serif;
}
.right
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 47%;
    font-family: sans-serif;
}
.right img
{
    width: 150px;
}
.left h4:hover
{
    color: blue;
    transition: all .3s;
    cursor: pointer;
}
.right h4:hover
{
    color: blue;
    transition: all .3s;
    cursor: pointer;
}
.right i
{
    background: rgb(225, 225, 225);
    padding: 7px;
    border-radius: 50%;
    color: rgb(175, 175, 175);
}

/* navbar qism */
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(225, 225, 225);
    padding: 13px;
    margin-top: 20px;
}
.navbar p:last-child
{
    margin-right: 57px;
}
.navbar p
{
    cursor: pointer;
}
.navbar p:active
{
    background-color: #17206a;
    color: #fff;
    line-height: 37px;
    padding-left: 10px;
    padding-right: 10px;
}

/* section qism */
.section
{
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.section_left
{
    width: 75%;
}
.top
{
    display: flex;
    justify-content: space-between;
    background: rgb(235, 235, 235);
    min-height: 350px;
}
.top .img
{
    width: 53%;
}
.top .img img
{
    width: 100%;
    height: 100%;
}
.i_float
{
    float: left;
    opacity: 0.5;
}
.p1
{
    opacity: 0.5;
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 13px;
}
.top .text
{
    width: 47%;
    padding: 20px 30px;
}
.top .text h2
{
    font-family: sans-serif;
    margin-top: 12px;
}
.top .text #p2
{
    margin-top: 20px;
    line-height: 25px;
    font-size: 17px;
}
.section_right
{
    width: 23%;
}
.paragraph1 .p1
{
    margin-top: 17px;
}
.paragraph1 .pg2
{
    font-size: 17px;
    margin-top: 7px;
    line-height: 23px;
}
hr
{
    margin: 17px 0;
}
input[type="text"]
{   
    padding: 3px;
    outline: none;
    font-size: 15px;
    display: block;
}
input[type="text"]:focus
{
    border: 1px solid red;
    border-radius: 5px;
}
input[type="submit"]
{
    background: green;
    color: white;
    width: 100%;
    margin-top: 3px;
    padding: 2px;
    border: none;
    cursor: pointer;
    /* clip-path: circle(); */
}
.bottom
{
    margin: 25px 0;
}
.top_bottom
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.left1
{
    display: flex;
    justify-content: space-between;
    width: 49%;
}
.left1 .img1
{
    width: 40%;
}
.left1 .img1 img
{
    width: 100%;
}
.left1 .text1
{
    width: 60%;
    padding: 0 12px;
}
.p_text
{
    font-family: sans-serif;
    line-height: 23px;
    margin-top: 10px;
    margin-bottom: 28px;
}
.right1
{
    display: flex;
    justify-content: space-between;
    width: 49%;
}
.right1 .img1
{
    width: 40%;
}
.right1 .img1 img
{
    width: 100%;
}
.right1 .text1
{
    width: 60%;
    padding: 0 12px;
}
.bottom_bottom
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}