*
{
    margin: 0;
    padding: 0;
}
.container
{
    width: 96%;
    margin: 1% auto;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.left
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 47%;
    font-family: sans-serif;
}
.right
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 47%;
    font-family: sans-serif;
}
.right img
{
    width: 150px;
}
.left h4:hover
{
    color: blue;
    transition: all .3s;
    cursor: pointer;
}
.right h4:hover
{
    color: blue;
    transition: all .3s;
    cursor: pointer;
}
.right i
{
    background: rgb(225, 225, 225);
    padding: 7px;
    border-radius: 50%;
    color: rgb(175, 175, 175);
}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(225, 225, 225);
    padding: 13px;
    margin-top: 20px;
}
.navbar p:last-child
{
    margin-right: 57px;
}
.navbar p
{
    cursor: pointer;
}
.navbar p:active
{
    background-color: #17206a;
    color: #fff;
    line-height: 37px;
    padding-left: 10px;
    padding-right: 10px;
}
.section
{
    margin-top: 12px;
    width: 100%;
}
.section_left
{
    display: flex;
    justify-content: space-between;
    background: rgb(235, 235, 235);
    width: 75%;
    min-height: 350px;
}
.section_left .img
{
    width: 48%;
}
.section_left .img img
{
    width: 100%;
    height: 100%;
}
.section_left .text i
{
    float: left;
    opacity: 0.5;
}
#p1
{
    opacity: 0.5;
    margin-left: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section_left .text
{
    width: 48%;
    padding: 20px 30px;
}
.section_left .text h2
{
    font-family: sans-serif;
    margin-top: 12px;
}
.section_left .text #p2
{
    margin-top: 20px;
    line-height: 25px;
    font-size: 17px;
}